* {
  margin: 0 auto;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(0.5turn, #ffffff, #eeeeee, #dddddd);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: visible;
}

.boids {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 18px solid;
}

.boids::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.canvas {
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    overflow: hidden;
}

.FOV {
  position: absolute;
  transform: translate(-54%, -50%) rotate(230deg);
}

.blindspot {
  position: relative;
  transform-origin: center;
}

.neighbor-line {
  display: inline;
  position: absolute;
  height: 1px;
  width: 2px;
  background-color: red;
}

.separate-line {
  display: inline;
  position: absolute;
  background-color: green;
  width: 1px;
}

.cohere-line {
  display: inline;
  position: absolute;
  background-color: blue;
  width: 1px;
}

.align-line {
  display: inline;
  position: absolute;
  background-color: yellow;
  width: 1px;
}

.slider-container {
  position: absolute;
  border-width: 3px;
  border-style: solid;
  border-radius: 1.1rem;
  border-color: rgb(0, 130, 252);
  min-width: 12vw;
  min-height: 12vh;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(29, 29, 29);
  margin-left: 1.5rem;
}

.separation-range {
  justify-content: center;
  width: 75%;
  margin-bottom: 15px;
}
.separation-value {
  justify-content: center;
  width: 75%;
}

.cohere-range {
  justify-content: center;
  width: 75%;
  margin-bottom: 15px;
}
.cohere-value {
  justify-content: center;
  width: 75%;
}

.align-range {
  justify-content: center;
  width: 75%;
  margin-bottom: 15px;
}

.align-value {
  justify-content: center;
  width: 75%;
}

.fov-range {
  justify-content: center;
  width: 75%;
  margin-bottom: 15px;
}

.fov-value {
  justify-content: center;
  width: 75%;
}

.button {
  width: fit-content;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1rem;
  background:linear-gradient(rgb(255, 255, 255), rgb(189, 189, 189));
  border-color: whitesmoke;
}

.button:hover {
  border-width: 0.15rem;
  border-color:rgb(0, 130, 252, 0.7);
}

.button-on {
  width: fit-content;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1rem;
  background-color: (211, 211, 211, 0.5);
  border-color: whitesmoke;
}

.button-on:hover {
  border-width: 0.12rem;
  border-color:rgb(0, 130, 252, 0.7);
}



.button-description {
  color: aqua;
}

#toggle-separate{
  color: green;
}

#toggle-cohere{
  color: blue;
}

#toggle-align{
  color: yellow;
}

#toggle-neighbors{
  color: red;
}